@media (max-width : 480px) {
    body {
        font-size: 0.5rem;
    }
}
@media (max-width : 768px) {
    body {
        font-size: 0.75rem;
    }
    main {
        flex-direction: column;
    }
    .main-container-right, .main-container-left {
        width: 100% !important;
    }
    .titleBet {
        flex-wrap: wrap;
    }
    .btnFilter {
        flex-direction: column;   
    }
    .btnFunc {
        flex-direction: column;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    padding: 0 !important;
    margin: 0 !important;
}

body {
    background-color: #e9e9e9;
}

.bigFont {
    font-size: 2rem;
}

.borderLogo {
    border-bottom: 0.5rem solid #B5C401 !important;
    border-radius: 5px;
}

.textGray {
    color: #707070 !important;
}

.textGrayBold {
    color: #707070 !important;
    font-weight: bold;
}

.textGraySmall {
    color: #707070 !important;
    font-size: small;
}

.textNoWrap {
    white-space : nowrap;
}

.main-container-left {
    width: 65%;
}

.main-container-right {
    width: min-content;
    height: min-content;
}

.filters {
    font-size: small;
    font-weight: bold;
    border-radius: 50px;
    padding: 0.3rem 1rem 0rem 1rem;
    margin: 0.2rem 0.5rem;
    white-space : nowrap;
}

.lotoFacil-filter {
    color: #7F3992;
    border: 2px solid #7F3992;
}

.megaSena-filter {
    color: #53AC66;
    border: 2px solid #53AC66;
}

.quina-filter {
    color: #EE9B31;
    border: 2px solid #EE9B31;

}

.lotoFacil-filter:hover {
    transition: all .4s;
    background-color: #7F3992;
    color: #fff;
}

.megaSena-filter:hover {
    transition: all .4s;
    background-color: #53AC66;
    color: #fff;
}

.quina-filter:hover {
    transition: all .4s;
    background-color: #EE9B31;
    color: #fff;
}

.buttonBet {
    font-size: small;
    color: #fff;
    background-color: #ADC0C4;
    border: 1px solid #ADC0C4;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem 0rem;
    margin: 0.3rem;
}

.buttonBet:hover {
    transition: all .2s;
    opacity: .6;
}

.buttonBet:active {
    border: 1px solid #889092;
}

.buttonBetSelected {
    background-color: #000;
}

.buttonsFunc {
    margin-bottom: -1.5rem;
}

.btnSave {
    background-color: #e9e9e9;
    border: 1px solid #d3d3d3;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.btnSave:hover {
    transition: all .2s;
    opacity: .6;
}

.cart {
    background-color: #fff;
    border: 1px solid #E2E2E2;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.borderCart {
    border-radius: 5px;
}

.cartBody {
    font-size: small;
}