:root {
    --white-color: #fff;
    --logo-color: #B5C401;
    --gray-primary: #707070;
    --gray-secondary : #646262;
    --bg-color: #e9e9e9;
    --btn-filter: #000;
    --bg-btn-ballsBet: #ADC0C4;
    --bg-btn-selected: #727272;
    --border-btn-save: #d3d3d3;
    --border-cart: #E2E2E2;
}

@media (max-width : 480px) {
    body {
        font-size: 0.5rem;
    }
}

@media (max-width : 768px) {
    body {
        font-size: 0.75rem;
    }
    main {
        flex-direction: column;
    }
    .main-container-right, .main-container-left {
        width: 100% !important;
    }
    .titleBet {
        flex-wrap: wrap;
    }
    .btnFilter {
        justify-content: center;   
    }
    .btnFunc {
        flex-direction: column;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    padding: 0 !important;
    margin: 0 !important;
}

body {
    background-color: var(--bg-color);
}

.bigFont {
    font-size: 2rem;
}

.borderLogo {
    border-bottom: 0.5rem solid var(--logo-color);
    border-radius: 5px;
}

.textGray {
    color: var(--gray-primary);
}

.textGrayBold {
    color: var(--gray-secondary) !important;
    font-weight: bold;
}

.textGraySmall {
    color: var(--gray-primary);
    font-size: small;
}

.textNoWrap {
    white-space : nowrap;
}

.main-container-left {
    width: 70%;
}

.main-container-right {
    width: min-content;
}

.filters {
    font-size: small;
    font-weight: bold;
    border-radius: 50px;
    padding: 0.3rem 1rem 0rem 1rem;
    margin: 0.2rem 0.5rem;
    white-space : nowrap;
}

.btn-filter {
    color: var(--btn-filter);
    border: 2px solid var(--btn-filter);
}

.btn-filter:hover {
    transition: all .4s;
    background-color: var(--btn-filter) !important;
    color: var(--white-color);
}

.buttonBet {
    font-size: small;
    color: var(--white-color);
    background-color: var(--bg-btn-ballsBet);
    border: 1px solid var(--bg-btn-ballsBet);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    padding: 0.5rem 0.1rem 0.4rem 0rem;
    margin: 0.3rem;
}

.buttonBet:hover {
    transition: all .2s;
    opacity: .6;
}

.buttonBetSelected {
    background-color: var(--bg-btn-selected);
    font-weight: bold;
}

.buttonsFunc {
    margin-bottom: -1.5rem;
}

.btnSave {
    border: 1px solid var(--border-btn-save);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.btnSave:hover {
    transition: all .2s;
    opacity: .6;
}

.cartEmpty {
    text-align: center;
}

.cart {
    background-color: var(--white-color);
    border: 1px solid var(--border-cart);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.borderCart {
    border-radius: 5px;
}

.cartBody {
    height: min-content;
    max-height: 10rem;
    font-size: small !important;
    overflow-y: auto;
}